<section class="subscribe">
    <div class="header">
        <div class="icon-container">
            <div class="icon"></div>
        </div>

        <div class="content">
            <h3>همیشه رایکانکتی بروزی باشید</h3>
            <p>با بروزنامه های رایکانکت از آخرین اخبار و بروزرسانی های خفن فریم ورک محبوب رایکانکت باخبر باشید.</p>
        </div>
    </div>

    <div class="form-container">
        <input type="email" name="email" placeholder="رایانامه شما" />
        <button type="submit">عضو شو</button>
    </div>
</section>