<section class="info flex nowrap">
    <div class="header flex column">
        <span>محصولات</span>
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>

        <a routerLink="/products">
            همه محصولات
        </a>
    </div>

    <div class="items flex wrap">
        <ng-container *ngFor="let item of items">
            <div class="item flex nowrap">
                <div class="image" [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
                <div class="flex column">
                    <h3>{{item.title}}</h3>
                    <p>{{item.content}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>