<article class="flex column">
    <img [src]="logo" [alt]="title">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <div class="langs flex nowrap">
        <ng-container *ngFor="let item of langs">
            <a [routerLink]="'/docs/'+item+'/products/'+name" class="lang" [title]="item"></a>
        </ng-container>
    </div>
    <a class="more" [routerLink]="'/products/'+name">
        <span>بیشتر بدانید</span>
        <svg viewBox="0 0 330 330" xmlns="http://www.w3.org/2000/svg">
            <path
                d="m315 150h-263.79l49.393-49.394c5.858-5.857 5.858-15.355 0-21.213-5.857-5.857-15.355-5.857-21.213 0l-75 75c-5.858 5.857-5.858 15.355 0 21.213l75 75c2.93 2.929 6.768 4.394 10.607 4.394s7.678-1.465 10.606-4.394c5.858-5.857 5.858-15.355 0-21.213l-49.393-49.393h263.79c8.284 0 15-6.716 15-15s-6.716-15-15-15z" />
        </svg>
    </a>
</article>