main.home {
    --animation-speed: 0.3s;

    --radius: 3px;

    --background-color: #f2ebe4;

    --header-text-color: #616161;
    --header-border-color: #424242;
    --header-link-background-color: #e7d8c6;
    --header-button-line-color: #424242;

    --intro-title-color: #333333;
    --intro-title-border-color: #d4c6b6;
    --intro-sub-title-color: #707070;
    --intro-link-color: #b6281a;
    --intro-link-border-color: #424242;

    --box-border-color: #424244;
    --box-content-text-color: #707070;
    --box-link-text-color: #b6281a;
    --box-background-color: #e7dcce;

    --faq-line-color: #616161;
    --faq-answer-text-color: #707070;

    --subscribe-icon-background-color: #f6cf58;
    --subscribe-icon-border-color: #707070;
    --subscribe-subtitle-text-color: #707070;
    --subscribe-input-border-color: #424242;
    --subscribe-button-background-color: #424242;

    --footer-link-text-color: #707070;
}
