@import "../style/variables.css";
// responsive
@import "../style/1400.scss";
@import "../style/992.scss";
@import "../style/620.scss";

* {
    font-family: iransansdn, Tahoma;
}

main {
    height: calc(100vh - 40px);

    padding: 20px 10vw;

    background-color: var(--background-color);

    overflow-x: hidden;

    div.boxs-faqs-sub {
        width: 100%;

        margin-top: 100px;

        section.boxs {
            width: 25vw;

            position: relative;

            app-box {
                margin-top: 20%;
            }

            &::before {
                content: "";

                position: absolute;

                top: -150px;
                right: 50px;

                width: 10vw;
                height: 10vw;

                background-image: url("/assets/images/home/details/box-arrow.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &::after {
                content: "";

                position: absolute;

                top: 15vh;
                right: 0px;

                width: 35vw;
                height: 35vw;

                background-image: url("/assets/images/home/details/box-shape.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        div.faqs-sub {
            width: 45vw;

            margin-right: auto;
            margin-top: 10%;

            section.faqs {
                margin-bottom: auto;

                position: relative;

                z-index: 1;

                &::after {
                    content: "";

                    position: absolute;

                    top: 15vh;
                    left: -25vw;

                    width: 35vw;
                    height: 35vw;

                    background-image: url("/assets/images/home/details/faq-shape.svg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    z-index: -2;
                }
            }
        }
    }
}
