div.drawer {
    position: relative;

    top: -2%;
    left: 30%;

    width: 65px;
    height: 80%;

    min-width: 65px;

    background-color: var(--code-drawer-background-color);

    border-radius: var(--radius);

    z-index: 2;

    div.buttons {
        margin: 10px auto 20px 5px;

        div.button {
            width: 8px;
            height: 8px;

            border-radius: 50%;

            margin-left: 5px;

            cursor: pointer;

            &.red {
                background-color: var(--code-drawer-button-red);
            }

            &.yellow {
                background-color: var(--code-drawer-button-yellow);
            }

            &.green {
                background-color: var(--code-drawer-button-green);
            }
        }
    }

    div.icon {
        width: 20px;
        height: 20px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        margin-bottom: 20px;

        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        &.file {
            background-image: url("/assets/images/code/file.png");
        }

        &.search {
            background-image: url("/assets/images/code/search.png");
        }

        &.plugins {
            background-image: url("/assets/images/code/plugins.png");
        }

        &.settings {
            background-image: url("/assets/images/code/settings.png");
        }
    }

    div.space {
        flex: 1;
    }
}
