article {
    height: inherit;

    border-top: 4px solid var(--item-border-color);

    padding: 20px 20px 28px 20px;

    position: relative;

    z-index: 1;

    &::before {
        content: "";

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;

        background-color: var(--item-border-color);

        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);

        transition: all var(--animation-speed);

        z-index: -1;
    }

    &:hover {
        strong {
            color: var(--item-hover-category-text-color);
        }

        h3 {
            color: var(--item-hover-title-text-color);
        }

        p {
            color: var(--item-hover-summery-text-color);
        }

        a {
            span {
                color: var(--item-hover-link-text-color);
            }

            svg {
                fill: var(--item-hover-link-text-color);
            }
        }

        &::before {
            bottom: 0%;
        }
    }

    strong {
        color: var(--item-category-text-color);
        font-size: 14px;

        transition: all var(--animation-speed);
    }

    h3 {
        color: var(--item-title-text-color);

        transition: all var(--animation-speed);
    }

    p {
        color: var(--item-summery-text-color);
        line-height: 1.7;

        transition: all var(--animation-speed);
    }

    a {
        margin-top: auto;
        margin-right: auto;

        &:hover svg {
            top: -4px;
            left: -4px;
        }

        span {
            text-decoration: underline;

            color: var(--item-link-text-color);

            margin-left: 12px;

            font-size: 18px;

            transition: all var(--animation-speed);
        }

        svg {
            position: relative;

            top: 0;
            left: 0;

            width: 22px;
            height: 22px;

            transform: rotate(45deg);

            fill: var(--item-link-text-color);

            transition: all var(--animation-speed);
        }
    }
}
