section.code {
    --code-content-background-color: #b780e7;
    --code-content-scroll-color: rgba(0, 0, 0, 0.3);
    --code-drawer-background-color: #424242;
    --code-drawer-button-red: #ff1744;
    --code-drawer-button-yellow: #ffea00;
    --code-drawer-button-green: #00e676;
    --code-tab-text-color: #424242;
    --code-tab-background-color: #f6cf58;
    --code-dropdown-background-color: #f6cf58;
    --code-info-background-color: #424242;
    --code-icon-background-color: #f6cf58;
    --code-icon-border-color: #707070;

    --animation-speed: 0.3s;

    --radius: 3px;
}
