/* You can add global styles to this file, and also import other style files */

@import "./style/font.css";
@import "./style/normalize.css";
@import "./style/flex.scss";

* {
    outline: none;
    user-select: none;
    font-family: iransansdn, Tahoma;
}

html,
body {
    overflow: hidden;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

button,
a {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

main {
    height: 100vh;

    background-color: var(--background-color);

    overflow-y: auto;
    overflow-x: hidden;

    padding: 0 10vw;
}
