<div class="dropdown flex nowrap" [ngClass]="{'show': show}">
    <div class="langs flex column ai-c">
        <ng-container *ngFor="let item of langs">
            <div class="item" (click)="lang = item" [ngClass]="[item, item == lang?'active': '']"></div>
        </ng-container>
    </div>

    <div class="files flex wrap">
        <ng-container *ngFor="let item of files">
            <div class="item flex column ai-c" [ngClass]="{'active': item.index == index}"
                (click)="changeIndex.emit(item.index)">
                <div class="file">
                    <span>{{format}}</span>
                </div>
                <span class="name">{{item.name}}</span>
            </div>
        </ng-container>
    </div>
</div>