div.dropdown {
    position: absolute;

    top: 70px;
    left: 50px;

    width: 70%;
    height: 75%;

    min-width: 250px;

    background-color: var(--code-dropdown-background-color);

    border-radius: var(--radius);

    z-index: 2;

    overflow: hidden;

    transition: all var(--animation-speed);

    &:not(.show) {
        top: 20px;

        opacity: 0;

        pointer-events: none;
    }

    div.langs {
        padding: 10px 0;

        width: 56px;
        height: calc(100% - 20px);

        border-right: 1px solid rgba($color: #000000, $alpha: 0.12);

        div.item {
            width: 32px;
            height: 32px;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: 20px;

            cursor: pointer;

            margin-bottom: 15px;

            opacity: 0.6;

            &:hover,
            &.active {
                opacity: 1;
            }

            &.typescript {
                background-image: url("/assets/languages/typescript.svg");
            }

            &.flutter {
                background-image: url("/assets/languages/flutter.svg");
            }
        }
    }

    div.files {
        width: 100%;

        div.item {
            height: fit-content;

            padding: 10px 20px;

            cursor: pointer;

            div.file {
                width: 50px;
                height: 75px;

                background-image: url("/assets/images/code/file.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;

                position: relative;

                span {
                    position: absolute;

                    bottom: 15px;
                    right: 10px;

                    font-size: 70%;

                    text-transform: uppercase;

                    color: #ffffff;
                }
            }
        }
    }
}
