<footer class="flex nowrap ai-c jc-c">
    <div class="links flex nowrap">
        <a routerLink="/team"> تیم </a>
        <a routerLink="/branding"> برندینگ </a>
    </div>
    <div class="with-what flex nowrap ai-c">تقدیم با <span class="love"></span> از دهکده <sup>&reg;</sup></div>
    <div class="social-media flex nowrap ai-c">
        <a href="" class="twitter"></a>
        <a href="" class="instagram"></a>
        <a href="" class="youtube"></a>
        <a href="" class="github"></a>
    </div>
</footer>